@charset "UTF-8";
.section4 {
  z-index: 4;
  position: sticky;
  top: -650%;
}
@media (max-width: 767px) {
  .section4 {
    top: -900%;
  }
}
@media (max-width: 479px) {
  .section4 {
    top: -850%;
  }
}
.section4 .s4-intro {
  will-change: background;
  background-color: rgb(241, 252, 255);
  padding-top: 15em;
  padding-bottom: 25em;
  counter-reset: insight-card;
  display: block;
  overflow: hidden;
}
@media (max-width: 991px) {
  .section4 .s4-intro {
    padding-top: 10em;
    padding-bottom: 15em;
  }
}
@media (max-width: 767px) {
  .section4 .s4-intro {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}
.section4 .s4-intro .s4-main {
  position: relative;
  max-width: 1440px;
  min-height: 50px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}
@media (max-width: 479px) {
  .section4 .s4-intro .s4-main {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.section4 .s4-intro .s4-main .s4-manager-text .w-layout-grid.g_2 {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 79px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
@media (max-width: 767px) {
  .section4 .s4-intro .s4-main .s4-manager-text .w-layout-grid.g_2 {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 479px) {
  .section4 .s4-intro .s4-main .s4-manager-text .w-layout-grid.g_2 {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
  }
}
.section4 .s4-intro .s4-main .s4-manager-text .w-layout-grid.g_2 .w-embed {
  display: none;
}
@media (max-width: 991px) {
  .section4 .s4-intro .s4-main .s4-manager-text .w-layout-grid.g_2 .g_manager-left-text {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 2;
    grid-column-end: span 2;
  }
}
@media (max-width: 479px) {
  .section4 .s4-intro .s4-main .s4-manager-text .w-layout-grid.g_2 .g_manager-left-text {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
    grid-column-end: span 1;
  }
}
.section4 .s4-intro .s4-main .s4-manager-text .w-layout-grid.g_2 .sl_managers.w-slider {
  justify-self: end;
  height: auto;
  max-width: 500px;
  background-color: #f4f4f4;
  position: relative;
  text-align: center;
  clear: both;
  background: #ddd;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@media (max-width: 479px) {
  .section4 .s4-intro .s4-main .s4-manager-text .w-layout-grid.g_2 .sl_managers.w-slider {
    justify-self: stretch;
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
    grid-column-end: span 1;
    width: 100%;
    max-width: 100%;
  }
}
.section4 .s4-intro .s4-main .s4-manager-text .w-layout-grid.g_2 .sl_managers.w-slider .w-slider-mask {
  position: relative;
  display: block;
  overflow: hidden;
  z-index: 1;
  left: 0;
  right: 0;
  height: 99%;
  white-space: nowrap;
  transition: all 0.2s ease;
}
.section4 .s4-intro .s4-main .s4-manager-text .w-layout-grid.g_2 .sl_managers.w-slider .w-slider-mask .slide_out {
  transition: all 0.2s ease;
  width: 300%;
  position: relative;
}
.section4 .s4-intro .s4-main .s4-manager-text .w-layout-grid.g_2 .sl_managers.w-slider .w-slider-mask .slide_out .slide_manager.w-slide {
  transition: all 0.2s ease;
  opacity: 1;
  padding: 40px 54px 40px 39px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 33%;
  height: 100%;
  white-space: normal;
  text-align: left;
}
.section4 .s4-intro .s4-main .s4-manager-text .w-layout-grid.g_2 .sl_managers.w-slider .w-slider-mask .slide_out .slide_manager.w-slide .g_manager-slider-text {
  margin-right: 32px;
}
.section4 .s4-intro .s4-main .s4-manager-text .w-layout-grid.g_2 .sl_managers.w-slider .w-slider-mask .slide_out .slide_manager.w-slide .g_manager-slider-text .cc-ivar {
  margin-top: 20px;
  font-family: Ivarheadline, sans-serif;
  font-size: 1.6rem;
}
.section4 .s4-intro .s4-main .s4-manager-text .w-layout-grid.g_2 .sl_managers.w-slider .w-slider-mask .w-slider-aria-label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.section4 .s4-intro .s4-main .s4-manager-text .w-layout-grid.g_2 .sl_managers.w-slider .cc-hide.w-slider-arrow-left {
  display: none;
  z-index: 3;
  right: auto;
  position: absolute;
  width: 80px;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  cursor: pointer;
  overflow: hidden;
  color: white;
  font-size: 40px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.section4 .s4-intro .s4-main .s4-manager-text .w-layout-grid.g_2 .sl_managers.w-slider .w-slider-arrow-right {
  z-index: 4;
  left: auto;
  position: absolute;
  width: 80px;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  overflow: hidden;
  color: white;
  font-size: 40px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.section4 .s4-intro .s4-main .s4-manager-text .w-layout-grid.g_2 .sl_managers.w-slider .w-slider-arrow-right .w-icon-slider-right {
  position: absolute;
  color: #000;
  font-size: 0.8em;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 1em;
  height: 1em;
}
.section4 .s4-intro .s4-main .s4-manager-text .w-layout-grid.g_2 .sl_managers.w-slider .w-slider-arrow-right .w-icon-slider-right img {
  width: 3rem;
  height: 3rem;
}
.section4 .s4-intro .s4-main .s4-manager-text .w-layout-grid.g_2 .sl_managers.w-slider .slide-nav.w-slider-nav.w-round {
  left: -5%;
  top: auto;
  right: auto;
  bottom: 0;
  margin-bottom: 16px;
  margin-left: 60px;
  position: absolute;
  z-index: 2;
  padding-top: 10px;
  height: 40px;
  text-align: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@media (max-width: 479px) {
  .section4 .s4-intro .s4-main .s4-manager-text .w-layout-grid.g_2 .sl_managers.w-slider .slide-nav.w-slider-nav.w-round {
    left: 0;
    margin-left: 27px;
  }
}
.section4 .s4-intro .s4-main .s4-manager-text .w-layout-grid.g_2 .sl_managers.w-slider .slide-nav.w-slider-nav.w-round .w-slider-dot {
  margin-left: 3px;
  margin-right: 3px;
  width: 17px;
  background: #000000;
  height: 2px;
  transition: background 0.2s ease;
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 0 3px 0.5em;
}
.section4 .s4-intro .s4-main .s4-manager-text .w-layout-grid.g_2 .sl_managers.w-slider .slide-nav.w-slider-nav.w-round .w-active {
  background-color: #FFC82D;
}
.section4 .s4-intro .s4-main .s4-manager-circle {
  position: relative;
  display: flex;
  height: 100vh;
  margin-top: 10em;
  margin-bottom: 10em;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (max-width: 991px) {
  .section4 .s4-intro .s4-main .s4-manager-circle {
    margin-top: 0;
  }
}
@media (max-width: 479px) {
  .section4 .s4-intro .s4-main .s4-manager-circle {
    margin-bottom: 0;
  }
}
.section4 .s4-intro .s4-main .s4-manager-circle .sp_orbit-title {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  position: relative;
  z-index: 1;
  max-width: 350px;
}
@media (max-width: 479px) {
  .section4 .s4-intro .s4-main .s4-manager-circle .sp_orbit-title {
    padding-right: 43px;
    padding-left: 43px;
  }
}
@media (max-width: 991px) {
  .section4 .s4-intro .s4-main .s4-manager-circle .sp_orbit-title p {
    font-size: 1rem;
  }
}
.section4 .s4-intro .s4-main .s4-manager-circle .e_circle-stat.cc-3rd {
  transform: translate3d(0px, 0px, 0px) scale3d(0.8, 0.8, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  position: absolute;
  left: 34%;
  top: auto;
  right: 14%;
  bottom: 11%;
  padding-right: 33px;
  padding-left: 33px;
  z-index: 999;
  display: flex;
  width: 215px;
  height: 215px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 200%;
  background-color: #ffc82d;
}
@media (max-width: 991px) {
  .section4 .s4-intro .s4-main .s4-manager-circle .e_circle-stat.cc-3rd {
    left: 13%;
    bottom: 15%;
  }
}
@media (max-width: 767px) {
  .section4 .s4-intro .s4-main .s4-manager-circle .e_circle-stat.cc-3rd {
    transform-style: preserve-3d;
    transform: translate3d(0px, 0px, 0px) scale3d(0.8, 0.8, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    bottom: 19%;
  }
}
@media (max-width: 479px) {
  .section4 .s4-intro .s4-main .s4-manager-circle .e_circle-stat.cc-3rd {
    bottom: 20%;
    transform-style: preserve-3d;
    transform: translate3d(0px, 0px, 0px) scale3d(0.6, 0.6, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
}
@media (max-width: 991px) {
  .section4 .s4-intro .s4-main .s4-manager-circle .e_circle-stat.cc-3rd .g_stat-text .h_circle-stat {
    font-size: 3.5em;
  }
}
.section4 .s4-intro .s4-main .s4-manager-circle .e_circle-stat.cc-2nd {
  transform: translate3d(0px, 0px, 0px) scale3d(0.8, 0.8, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  position: absolute;
  left: auto;
  top: 30%;
  right: 8%;
  bottom: auto;
  padding-right: 33px;
  padding-left: 33px;
  z-index: 999;
  display: flex;
  width: 215px;
  height: 215px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 200%;
  background-color: #ffc82d;
}
@media (max-width: 991px) {
  .section4 .s4-intro .s4-main .s4-manager-circle .e_circle-stat.cc-2nd {
    top: 21%;
    right: 2%;
  }
}
@media (max-width: 767px) {
  .section4 .s4-intro .s4-main .s4-manager-circle .e_circle-stat.cc-2nd {
    top: 28%;
    right: -19%;
    transform-style: preserve-3d;
    transform: translate3d(0px, 0px, 0px) scale3d(0.8, 0.8, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
}
@media (max-width: 479px) {
  .section4 .s4-intro .s4-main .s4-manager-circle .e_circle-stat.cc-2nd {
    top: 29%;
    right: -21%;
    transform-style: preserve-3d;
    transform: translate3d(0px, 0px, 0px) scale3d(0.6, 0.6, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
}
@media (max-width: 991px) {
  .section4 .s4-intro .s4-main .s4-manager-circle .e_circle-stat.cc-2nd .g_stat-text .h_circle-stat {
    font-size: 3.5em;
  }
}
.section4 .s4-intro .s4-main .s4-manager-circle .e_circle-stat.cc-1st {
  transform: translate3d(0px, 0px, 0px) scale3d(0.8, 0.8, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  position: absolute;
  left: 11%;
  top: 11%;
  right: auto;
  bottom: auto;
  padding-right: 33px;
  padding-left: 33px;
  z-index: 999;
  display: flex;
  width: 215px;
  height: 215px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 200%;
  background-color: #ffc82d;
}
@media (max-width: 767px) {
  .section4 .s4-intro .s4-main .s4-manager-circle .e_circle-stat.cc-1st {
    left: 0;
    transform-style: preserve-3d;
    transform: translate3d(0px, 0px, 0px) scale3d(0.8, 0.8, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
}
@media (max-width: 479px) {
  .section4 .s4-intro .s4-main .s4-manager-circle .e_circle-stat.cc-1st {
    left: -14%;
    top: 16%;
    transform-style: preserve-3d;
    transform: translate3d(0px, 0px, 0px) scale3d(0.6, 0.6, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
}
@media (max-width: 991px) {
  .section4 .s4-intro .s4-main .s4-manager-circle .e_circle-stat.cc-1st .g_stat-text .h_circle-stat {
    font-size: 3.5em;
  }
}
.section4 .s4-intro .s4-main .s4-manager-circle .w-embed {
  display: none;
}
.section4 .s4-intro .s4-main .s4-g_title-stag {
  display: flex;
  margin-right: auto;
  margin-bottom: 10em;
  margin-left: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 479px) {
  .section4 .s4-intro .s4-main .s4-g_title-stag {
    position: relative;
    z-index: 9;
    margin-bottom: 5em;
  }
}
.section4 .s4-intro .s4-main .s4-g_title-stag .cc-first-h-line.cc-nbm {
  transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  opacity: 1;
  margin-left: 0;
  flex: 0 0 auto;
  margin-bottom: 0px;
}
@media (max-width: 991px) {
  .section4 .s4-intro .s4-main .s4-g_title-stag .cc-first-h-line.cc-nbm {
    font-size: 3.5em;
  }
}
@media (max-width: 479px) {
  .section4 .s4-intro .s4-main .s4-g_title-stag .cc-first-h-line.cc-nbm {
    margin-bottom: 0px;
    font-size: 2em;
  }
}
.section4 .s4-intro .s4-main .s4-g_title-stag .cc-second-h-line.cc-nbm {
  transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  opacity: 1;
  flex: 0 0 auto;
  margin-top: 6px;
  margin-left: 100px;
  margin-bottom: -11px;
}
@media (max-width: 991px) {
  .section4 .s4-intro .s4-main .s4-g_title-stag .cc-second-h-line.cc-nbm {
    font-size: 3.5em;
    margin-left: 52px;
  }
}
@media (max-width: 767px) {
  .section4 .s4-intro .s4-main .s4-g_title-stag .cc-second-h-line.cc-nbm {
    margin-left: 23px;
    font-size: 3.2em;
  }
}
@media (max-width: 479px) {
  .section4 .s4-intro .s4-main .s4-g_title-stag .cc-second-h-line.cc-nbm {
    margin-left: 0px;
    margin-top: 4px;
    margin-bottom: -16px;
    font-size: 2em;
  }
}
.section4 .s4-intro .s4-main .s4-g_title-stag .cc-third-h-line.cc-nbm.cc-italic.cc-yellow-text {
  transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  opacity: 1;
  flex: 0 0 auto;
  margin-left: 200px;
  margin-bottom: 0px;
  font-style: italic;
  color: #ffc82d;
  margin-top: 20px;
}
@media (max-width: 991px) {
  .section4 .s4-intro .s4-main .s4-g_title-stag .cc-third-h-line.cc-nbm.cc-italic.cc-yellow-text {
    font-size: 3.5em;
  }
}
@media (max-width: 479px) {
  .section4 .s4-intro .s4-main .s4-g_title-stag .cc-third-h-line.cc-nbm.cc-italic.cc-yellow-text {
    margin-left: 50px;
    font-size: 2em;
  }
}
.section4 .s4-intro .s4-main .g_2.cc-chart-row {
  margin-bottom: 10em;
  grid-column-gap: 80px;
  grid-row-gap: 40px;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
@media (max-width: 767px) {
  .section4 .s4-intro .s4-main .g_2.cc-chart-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 5em;
  }
}
@media (max-width: 479px) {
  .section4 .s4-intro .s4-main .g_2.cc-chart-row {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
    margin-bottom: 5em;
  }
}
.section4 .s4-intro .s4-main .g_2.cc-chart-row .g_chart-text {
  align-self: center;
}
@media (max-width: 991px) {
  .section4 .s4-intro .s4-main .g_2.cc-chart-row .g_chart-text {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 2;
    grid-column-end: span 2;
  }
}
.section4 .s4-intro .s4-main .g_2.cc-chart-row .g_chart-text .heading-3 {
  font-size: 1.7em;
}
@media (max-width: 479px) {
  .section4 .s4-intro .s4-main .g_2.cc-chart-row .g_chart-text h2 {
    font-size: 2em;
  }
}
@media (max-width: 991px) {
  .section4 .s4-intro .s4-main .g_2.cc-chart-row .g_chart-text p {
    font-size: 1rem;
  }
}
.section4 .s4-intro .s4-main .g_2.cc-chart-row .g_chart-text .sp_number-circle {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  display: flex;
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 200%;
  font-family: Ivardisplay, sans-serif;
  color: #fff;
  font-size: 1.5em;
}
.section4 .s4-intro .s4-main .g_2.cc-chart-row .g_chart-text .cc-blue-bg {
  background-color: #2341cd;
}
.section4 .s4-intro .s4-main .g_2.cc-chart-row .g_chart-text .cc-green-bg {
  background-color: #00aa6d;
}
.section4 .s4-intro .s4-main .g_2.cc-chart-row .b_chart-lottie2 {
  order: -9999;
}
@media (max-width: 479px) {
  .section4 .s4-intro .s4-main .g_2.cc-chart-row .b_chart-lottie2 {
    order: 0;
  }
}
.section4 .s4-intro .s4-main .g_2.cc-chart-row .b_chart-lottie {
  padding: 3em;
  border: solid 1px #e1e1e1;
  border-radius: 8px;
  background-color: #fff;
}
@media (max-width: 991px) {
  .section4 .s4-intro .s4-main .g_2.cc-chart-row .b_chart-lottie {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 2;
    grid-column-end: span 2;
  }
}
@media (max-width: 479px) {
  .section4 .s4-intro .s4-main .g_2.cc-chart-row .b_chart-lottie {
    padding: 1.5em;
    border: solid 1px #e1e1e1;
  }
}
.section4 .s4-intro .s4-main .g_2.cc-chart-row .b_chart-lottie .h_chart-title {
  margin-top: 0px;
  margin-bottom: 40px;
  padding-right: 84px;
  font-size: 1.8em;
}
@media (max-width: 479px) {
  .section4 .s4-intro .s4-main .g_2.cc-chart-row .b_chart-lottie .h_chart-title {
    padding-right: 0px;
  }
}
.section4 .s4-intro .s4-main .g_2.cc-chart-row .b_chart-lottie .g_chart-share {
  display: flex;
  width: 125px;
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
  font-family: "Söhne buch", sans-serif;
  font-size: 1em;
  padding: 8px 12px 12px;
  border: solid 1px rgb(236, 236, 236);
}
@media (max-width: 479px) {
  .section4 .s4-intro .s4-main .g_2.cc-chart-row .b_chart-lottie .g_chart-share {
    margin-top: 24px;
  }
}
.section4 .s4-intro .s4-main .g_2-3.cc-chart-row {
  margin-bottom: 10em;
  grid-column-gap: 80px;
  grid-row-gap: 40px;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
@media (max-width: 767px) {
  .section4 .s4-intro .s4-main .g_2-3.cc-chart-row {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 479px) {
  .section4 .s4-intro .s4-main .g_2-3.cc-chart-row {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
  }
}
.section4 .s4-intro .s4-main .g_2-3.cc-chart-row .g_chart-text {
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 1;
}
@media (max-width: 991px) {
  .section4 .s4-intro .s4-main .g_2-3.cc-chart-row .g_chart-text {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 2;
    grid-column-end: span 2;
  }
}
.section4 .s4-intro .s4-main .g_2-3.cc-chart-row .g_chart-text .sp_number-circle.cc-purple-bg {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  display: flex;
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 200%;
  font-family: Ivardisplay, sans-serif;
  color: #fff;
  font-size: 1.5em;
  background-color: #7c27ac;
}
.section4 .s4-intro .s4-main .g_2-3.cc-chart-row .g_chart-text h2 {
  margin-top: 20px;
}
@media (max-width: 479px) {
  .section4 .s4-intro .s4-main .g_2-3.cc-chart-row .g_chart-text h2 {
    font-size: 2em;
  }
}
@media (max-width: 991px) {
  .section4 .s4-intro .s4-main .g_2-3.cc-chart-row .g_chart3-body {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 2;
    grid-column-end: span 2;
  }
}
@media (max-width: 991px) {
  .section4 .s4-intro .s4-main .g_2-3.cc-chart-row .g_chart3-body p {
    font-size: 1rem;
  }
}
.section4 .s4-intro .s4-main .g_2-3.cc-chart-row .b_chart-svg {
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 2;
}
@media (max-width: 479px) {
  .section4 .s4-intro .s4-main .g_2-3.cc-chart-row .b_chart-svg {
    padding: 1.5em;
    border: solid 1px #e1e1e1;
  }
}
@media (max-width: 479px) {
  .section4 .s4-intro .s4-main .g_2-3.cc-chart-row .b_chart-svg h3 {
    padding-right: 0px;
  }
}
@media (max-width: 479px) {
  .section4 .s4-intro .s4-main .g_2-3.cc-chart-row .b_chart-svg .lb_chart-share-icon.w-inline-block {
    margin-top: 24px;
  }
}
.section4 .s4-intro .s4-main .g_2.cc-chart-row.cc-nbm {
  position: relative;
  margin-bottom: 0;
  grid-column-gap: 80px;
  grid-row-gap: 40px;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
@media (max-width: 767px) {
  .section4 .s4-intro .s4-main .g_2.cc-chart-row.cc-nbm {
    display: flex;
    flex-direction: column;
    margin-bottom: 5em;
  }
}
@media (max-width: 479px) {
  .section4 .s4-intro .s4-main .g_2.cc-chart-row.cc-nbm {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr;
  }
}
.section4 .s4-intro .s4-main .g_2.cc-chart-row.cc-nbm .g_chart-text .sp_number-circle.cc-yellow-bg {
  display: flex;
  width: 45px;
  height: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 200%;
  font-family: Ivardisplay, sans-serif;
  color: #fff;
  font-size: 1.5em;
  background-color: #ffc82d;
}
.section4 .s4-intro .s4-main .g_2.cc-chart-row.cc-nbm .g_chart-text h2 {
  margin-top: 20px;
}
@media (max-width: 479px) {
  .section4 .s4-intro .s4-main .g_2.cc-chart-row.cc-nbm .g_chart-text h2 {
    font-size: 2em;
  }
}
.section4 .s4-intro .s4-main .g_2.cc-chart-row.cc-nbm .g_chart4-text {
  grid-column-start: 2;
  grid-row-end: 2;
  grid-row-start: 1;
}
@media (max-width: 991px) {
  .section4 .s4-intro .s4-main .g_2.cc-chart-row.cc-nbm .g_chart4-text p {
    font-size: 1rem;
  }
}
.section4 .s4-intro .s4-main .g_2.cc-chart-row.cc-nbm .b_chart-lottie.cc-mbm {
  align-self: baseline;
  margin-bottom: 0px;
  border-radius: 10px;
  padding: 3em;
  border: solid 1px #e1e1e1;
  background-color: #fff;
}
@media (max-width: 991px) {
  .section4 .s4-intro .s4-main .g_2.cc-chart-row.cc-nbm .b_chart-lottie.cc-mbm {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 2;
    grid-column-end: span 2;
  }
}
@media (max-width: 479px) {
  .section4 .s4-intro .s4-main .g_2.cc-chart-row.cc-nbm .b_chart-lottie.cc-mbm {
    margin-bottom: 0px;
    padding: 1.5em;
    border: solid 1px #e1e1e1;
  }
}
.section4 .s4-intro .s4-main .g_2.cc-chart-row.cc-nbm .b_chart-lottie.cc-mbm .h_chart-title {
  font-size: 1.6em;
}
@media (max-width: 479px) {
  .section4 .s4-intro .s4-main .g_2.cc-chart-row.cc-nbm .b_chart-lottie.cc-mbm .h_chart-title {
    margin-right: 0px;
  }
}
@media (max-width: 991px) {
  .section4 .s4-intro .s4-main .g_2.cc-chart-row.cc-nbm .b_chart-lottie {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 2;
    grid-column-end: span 2;
  }
}
@media (max-width: 479px) {
  .section4 .s4-intro .s4-main .g_2.cc-chart-row.cc-nbm .b_chart-lottie {
    padding: 1.5em;
    border: solid 1px #e1e1e1;
  }
}
.section4 .s4-intro .s4-main .g_2.cc-chart-row.cc-nbm .b_chart-lottie .h_chart-title {
  font-size: 1.6em;
}